body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:932px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2945 {
  position:absolute;
  left:0px;
  top:60px;
  width:1366px;
  height:932px;
}
#u2946 {
  position:absolute;
  left:2px;
  top:458px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2947 {
  position:absolute;
  left:1037px;
  top:92px;
  width:213px;
  height:269px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:126px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u2949 {
  position:absolute;
  left:1103px;
  top:118px;
  width:82px;
  height:82px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0D0D0D;
}
#u2951 {
  position:absolute;
  left:1114px;
  top:208px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0D0D0D;
}
#u2952 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u2953 {
  position:absolute;
  left:1064px;
  top:251px;
  width:160px;
  height:37px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u2955 {
  position:absolute;
  left:1064px;
  top:304px;
  width:160px;
  height:37px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:41px;
}
#u2959 {
  position:absolute;
  left:117px;
  top:10px;
  width:118px;
  height:40px;
  color:#F2F2F2;
}
#u2960 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2961 {
  position:absolute;
  left:248px;
  top:19px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2962 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2963 {
  position:absolute;
  left:423px;
  top:19px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2964 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2965 {
  position:absolute;
  left:1138px;
  top:15px;
  width:32px;
  height:32px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u2967 {
  position:absolute;
  left:1180px;
  top:21px;
  width:60px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2969 {
  position:absolute;
  left:111px;
  top:92px;
  width:901px;
  height:649px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:316px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2971 {
  position:absolute;
  left:191px;
  top:114px;
  width:151px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2972 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2974 {
  position:absolute;
  left:564px;
  top:881px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2975 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:2px;
}
#u2976 {
  position:absolute;
  left:0px;
  top:842px;
  width:1366px;
  height:1px;
}
#u2977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u2978 {
  position:absolute;
  left:643px;
  top:883px;
  width:1px;
  height:16px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2980 {
  position:absolute;
  left:652px;
  top:881px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2982 {
  position:absolute;
  left:727px;
  top:881px;
  width:75px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u2984 {
  position:absolute;
  left:717px;
  top:883px;
  width:1px;
  height:16px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u2986 {
  position:absolute;
  left:533px;
  top:915px;
  width:336px;
  height:16px;
  color:#797979;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u2988 {
  position:absolute;
  left:612px;
  top:948px;
  width:137px;
  height:16px;
  color:#797979;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:61px;
}
#u2990 {
  position:absolute;
  left:118px;
  top:99px;
  width:63px;
  height:60px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:2px;
}
#u2992 {
  position:absolute;
  left:111px;
  top:265px;
  width:895px;
  height:1px;
}
#u2993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:891px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:374px;
}
#u2994 {
  position:absolute;
  left:133px;
  top:293px;
  width:844px;
  height:374px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u2995 {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  word-wrap:break-word;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2996 {
  position:absolute;
  left:118px;
  top:225px;
  width:235px;
  height:16px;
  color:#949494;
}
#u2997 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u2998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2998 {
  position:absolute;
  left:118px;
  top:189px;
  width:156px;
  height:16px;
  color:#949494;
}
#u2999 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
