body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:684px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:0px;
  top:60px;
  width:1366px;
  height:684px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:334px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:1037px;
  top:92px;
  width:213px;
  height:269px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:126px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u2146 {
  position:absolute;
  left:1103px;
  top:118px;
  width:82px;
  height:82px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0D0D0D;
}
#u2148 {
  position:absolute;
  left:1114px;
  top:208px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0D0D0D;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u2150 {
  position:absolute;
  left:1064px;
  top:251px;
  width:160px;
  height:37px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u2152 {
  position:absolute;
  left:1064px;
  top:304px;
  width:160px;
  height:37px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:41px;
}
#u2156 {
  position:absolute;
  left:117px;
  top:10px;
  width:118px;
  height:40px;
  color:#F2F2F2;
}
#u2157 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2158 {
  position:absolute;
  left:248px;
  top:19px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2160 {
  position:absolute;
  left:423px;
  top:19px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2162 {
  position:absolute;
  left:1138px;
  top:15px;
  width:32px;
  height:32px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u2164 {
  position:absolute;
  left:1180px;
  top:21px;
  width:60px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:389px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2166 {
  position:absolute;
  left:111px;
  top:92px;
  width:901px;
  height:389px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:186px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u2168 {
  position:absolute;
  left:218px;
  top:236px;
  width:220px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6B6B6B;
}
#u2170 {
  position:absolute;
  left:218px;
  top:276px;
  width:15px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6B6B6B;
}
#u2172 {
  position:absolute;
  left:218px;
  top:354px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2172_ann {
  position:absolute;
  left:254px;
  top:350px;
  width:1px;
  height:1px;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2174 {
  position:absolute;
  left:218px;
  top:196px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2176 {
  position:absolute;
  left:218px;
  top:313px;
  width:293px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2178 {
  position:absolute;
  left:125px;
  top:103px;
  width:169px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u2180 {
  position:absolute;
  left:125px;
  top:145px;
  width:139px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2182 {
  position:absolute;
  left:125px;
  top:236px;
  width:26px;
  height:16px;
  color:#6B6B6B;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2184 {
  position:absolute;
  left:125px;
  top:276px;
  width:27px;
  height:16px;
  color:#6B6B6B;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2186 {
  position:absolute;
  left:125px;
  top:354px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2188 {
  position:absolute;
  left:125px;
  top:196px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2190 {
  position:absolute;
  left:125px;
  top:313px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:249px;
}
#u2192 {
  position:absolute;
  left:633px;
  top:196px;
  width:315px;
  height:249px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:116px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2195 {
  position:absolute;
  left:564px;
  top:624px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:2px;
}
#u2197 {
  position:absolute;
  left:0px;
  top:585px;
  width:1366px;
  height:1px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u2199 {
  position:absolute;
  left:643px;
  top:626px;
  width:1px;
  height:16px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2201 {
  position:absolute;
  left:652px;
  top:624px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u2203 {
  position:absolute;
  left:727px;
  top:624px;
  width:75px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u2205 {
  position:absolute;
  left:717px;
  top:626px;
  width:1px;
  height:16px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u2207 {
  position:absolute;
  left:533px;
  top:658px;
  width:336px;
  height:16px;
  color:#797979;
}
#u2208 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u2209 {
  position:absolute;
  left:612px;
  top:691px;
  width:137px;
  height:16px;
  color:#797979;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2211 {
  position:absolute;
  left:331px;
  top:349px;
  width:86px;
  height:25px;
}
#u2211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:center;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6B6B6B;
}
#u2212 {
  position:absolute;
  left:218px;
  top:394px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2212_ann {
  position:absolute;
  left:254px;
  top:390px;
  width:1px;
  height:1px;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u2214 {
  position:absolute;
  left:125px;
  top:394px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2216 {
  position:absolute;
  left:331px;
  top:390px;
  width:86px;
  height:25px;
}
#u2216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:center;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2217 {
  position:absolute;
  left:975px;
  top:102px;
  width:28px;
  height:28px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_ann {
  position:absolute;
  left:996px;
  top:98px;
  width:1px;
  height:1px;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u2219 {
  position:absolute;
  left:295px;
  top:145px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
