body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2374.41599923111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:1021px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6064 {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:1021px;
}
#u6065 {
  position:absolute;
  left:2px;
  top:502px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:929px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6066 {
  position:absolute;
  left:0px;
  top:104px;
  width:197px;
  height:929px;
}
#u6067 {
  position:absolute;
  left:2px;
  top:456px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:385px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6068 {
  position:absolute;
  left:0px;
  top:75px;
  width:197px;
  height:385px;
}
#u6069 {
  position:absolute;
  left:2px;
  top:184px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:75px;
  background:inherit;
  background-color:rgba(38, 38, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:75px;
}
#u6071 {
  position:absolute;
  left:2px;
  top:30px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u6072 {
  position:absolute;
  left:18px;
  top:12px;
  width:161px;
  height:51px;
  font-size:16px;
  color:#999999;
}
#u6073 {
  position:absolute;
  left:2px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u6072_ann {
  position:absolute;
  left:172px;
  top:8px;
  width:1px;
  height:1px;
}
#u6074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6074 {
  position:absolute;
  left:198px;
  top:28px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6075 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6076 {
  position:absolute;
  left:55px;
  top:103px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u6077 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u6078 {
  position:absolute;
  left:18px;
  top:143px;
  width:170px;
  height:1px;
}
#u6079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6080 {
  position:absolute;
  left:26px;
  top:101px;
  width:20px;
  height:20px;
}
#u6081 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6082 {
  position:absolute;
  left:0px;
  top:335px;
  width:197px;
  height:37px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6086 {
  position:absolute;
  left:1203px;
  top:29px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u6087 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u6088 {
  position:absolute;
  left:1296px;
  top:33px;
  width:13px;
  height:8px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6090 {
  position:absolute;
  left:40px;
  top:184px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u6091 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6092 {
  position:absolute;
  left:40px;
  top:347px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u6093 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6094 {
  position:absolute;
  left:42px;
  top:267px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u6095 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6096 {
  position:absolute;
  left:40px;
  top:225px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u6097 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6098 {
  position:absolute;
  left:40px;
  top:307px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u6099 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6100 {
  position:absolute;
  left:40px;
  top:386px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u6101 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:409px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6102 {
  position:absolute;
  left:254px;
  top:145px;
  width:1055px;
  height:409px;
}
#u6103 {
  position:absolute;
  left:2px;
  top:196px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6104 {
  position:absolute;
  left:2304px;
  top:153px;
  width:68px;
  height:35px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:18px;
}
#u6105 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u6106_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u6106 {
  position:absolute;
  left:221px;
  top:96px;
  width:2px;
  height:16px;
}
#u6107 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6108 {
  position:absolute;
  left:233px;
  top:96px;
  width:85px;
  height:16px;
}
#u6109 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:2px;
}
#u6110 {
  position:absolute;
  left:233px;
  top:132px;
  width:1098px;
  height:1px;
}
#u6111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
}
#u6112 {
  position:absolute;
  left:331px;
  top:91px;
  width:88px;
  height:26px;
}
#u6113 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6114 {
  position:absolute;
  left:1745px;
  top:148px;
  width:289px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6115 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u6116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6666;
}
#u6116 {
  position:absolute;
  left:1778px;
  top:181px;
  width:222px;
  height:15px;
  font-size:12px;
  color:#FF6666;
}
#u6117 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u6118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6118 {
  position:absolute;
  left:1688px;
  top:208px;
  width:404px;
  height:16px;
  color:#666666;
}
#u6119 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u6120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u6120 {
  position:absolute;
  left:1688px;
  top:235px;
  width:401px;
  height:16px;
  color:#0033FF;
}
#u6121 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u6122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u6123 {
  position:absolute;
  left:385px;
  top:313px;
  width:220px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u6124 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u6125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u6125 {
  position:absolute;
  left:385px;
  top:346px;
  width:43px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u6126 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u6127 {
  position:absolute;
  left:385px;
  top:247px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u6128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u6129 {
  position:absolute;
  left:385px;
  top:382px;
  width:293px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u6130 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u6131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6131 {
  position:absolute;
  left:292px;
  top:153px;
  width:193px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6132 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6B6B6B;
}
#u6133 {
  position:absolute;
  left:292px;
  top:195px;
  width:139px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u6134 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u6135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6135 {
  position:absolute;
  left:292px;
  top:313px;
  width:26px;
  height:16px;
  color:#6B6B6B;
}
#u6136 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u6137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6137 {
  position:absolute;
  left:292px;
  top:346px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u6138 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6139 {
  position:absolute;
  left:292px;
  top:247px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u6140 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6141 {
  position:absolute;
  left:292px;
  top:382px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u6142 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u6143 {
  position:absolute;
  left:385px;
  top:279px;
  width:89px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u6144 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6145 {
  position:absolute;
  left:292px;
  top:279px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u6146 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6147 {
  position:absolute;
  left:292px;
  top:437px;
  width:40px;
  height:16px;
  color:#6B6B6B;
}
#u6148 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u6149 {
  position:absolute;
  left:385px;
  top:437px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u6150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6151 {
  position:absolute;
  left:292px;
  top:472px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u6152 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u6153 {
  position:absolute;
  left:385px;
  top:472px;
  width:89px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u6154 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u6155 {
  position:absolute;
  left:292px;
  top:509px;
  width:53px;
  height:16px;
  color:#6B6B6B;
}
#u6156 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u6157 {
  position:absolute;
  left:385px;
  top:509px;
  width:145px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u6158 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:277px;
}
#u6159 {
  position:absolute;
  left:824px;
  top:216px;
  width:387px;
  height:277px;
}
#u6160 {
  position:absolute;
  left:2px;
  top:130px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6161 {
  position:absolute;
  left:1272px;
  top:152px;
  width:28px;
  height:28px;
}
#u6162 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6161_ann {
  position:absolute;
  left:1293px;
  top:148px;
  width:1px;
  height:1px;
}
#u6163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:2px;
}
#u6163 {
  position:absolute;
  left:292px;
  top:418px;
  width:386px;
  height:1px;
}
#u6164 {
  position:absolute;
  left:2px;
  top:-8px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6165 {
  position:absolute;
  left:40px;
  top:424px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u6166 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u6167 {
  position:absolute;
  left:160px;
  top:429px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6168 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
